body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    color: #333;
}

h1 {
    text-align: center;
    padding: 20px 0;
}

form {
    width: 300px;
    margin: 0 auto;
}

.weather-box {
    width: 300px;
    margin: 20px auto;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    border: 1px solid #ccc;
    padding: 20px;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.1);
    border-radius: 10px;
    background-color: #add8e6;
}

.weather-text h2 {
    margin: 0;
    width: 100%;
}

.weather-icon img {
    width: 50px;
    height: 50px;
}

.alert {
    color: red;
    font-size: 20px;
    text-align: center;
}