<!DOCTYPE html>
<html>
    <head>
        <title>CS50p Weather App</title>
        <link rel="stylesheet" type="text/css" href="static/styles.css">
    </head>
    <body>
        <h1>WeatherPy! CS50p Weather App</h1>
        <form action="/" method="POST">
            <input type="text" name="city" placeholder="Enter city">
            <select name="units">
                <option value="metric">Celsius</option>
                <option value="imperial">Fahrenheit</option>
            </select>
            <button type="submit">Get Weather</button>
        </form>
        {% if temperature and wind_speed and city and weather_description and weather_icon %}
            <img src="http://openweathermap.org/img/w/{{ weather_icon }}.png" alt="{{ weather_description }}">
            <h2>The weather in {{ city }} is {{ weather_description }}, current temprature is {{ temperature }}° and the wind speed is {{ wind_speed }}.</h2>
        {% endif %}
    </body>
</html>
